<div class="lolstatyong_header">
    <a href="{%url 'rankstatapp:summoners'%}">LOLStatYong</a>
</div>

<div class="lolstatyong_header_navbar">
    <a href="{% url 'articleapp:list' %}" class="lolstatyong_header_nav">
        <span>자유주제</span>
    </a> |
    <a href="{% url 'articleapp:list' %}" class="lolstatyong_header_nav">
        <span>챔피언 상대법</span>
    </a> |
    <a href="{% url 'projectapp:list' %}" class="lolstatyong_header_nav">
        <span>카테고리</span>
    </a> |
    <a href="{% url 'subscribeapp:list' %}" class="lolstatyong_header_nav">
        <span>구독게시글</span>
    </a> |
    {% if not user.is_authenticated %}    
    <a href="{% url 'accountapp:login' %}?next={{ request.path }}" class="lolstatyong_header_nav">
        <span>로그인</span>
    </a> |
    <a href="{% url 'accountapp:create' %}" class="lolstatyong_header_nav">
        <span>회원가입</span>
    </a>
    {% else %}
    <a href="{% url 'accountapp:detail' pk=user.pk%}" class="lolstatyong_header_nav">
        <span>마이 페이지</span> |
    </a>
    <a href="{% url 'accountapp:logout' %}?next={{ request.path }}" class="lolstatyong_header_nav">
        <span>로그아웃</span>
    </a>
    {% endif %}
</div>

<div style="text-align: center; margin-bottom:1rem;">
    <form action="{% url 'rankstatapp:summoners'%}?name={{name}}&region={{region}}" method="GET">
    <div>
        <select name='region' onchange="region=this.value;">
            <option value='kr'>KR</option>
            <option value='na1'>NA</option>
            <option value='jp'>JP</option>
        </select>
    아이디: <input name="name">
    <input type="submit" value="Submit">
    </div>
    </form>
</div>
